@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e #6e6e6e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #6e6e6e;
}

*::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 6px;
  border: 3px none #ffffff;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 1, 10, 19;
  --background-end-rgb: 1, 5, 10;
  --background-loader-start-rgb: 10, 20, 50;
  --background-loader-end-rgb: 5, 10, 20;
}

@font-face {
  font-family: "Beaufort";
  src: url("../public/Beaufort.ttf");
}

body {
  color: #b99c6a;
  font-size: 3.3vh;
  letter-spacing: -2px;
  word-spacing: 1px;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.loader {
  transition: 0.2s ease-out all;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.loaderImage {
  transition: 0.2s ease-out all;
}

.grborder1 {
  border-inline-start: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 50vh 25vh at left 0% top 0, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder2 {
  border-inline-start: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 30vh 25vh at left 0% top 0%, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder3 {
  border-inline-start: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(circle 25vh at left, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder4 {
  border-inline-start: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 30vh 25vh at bottom left, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder5 {
  border-inline-start: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 50vh 25vh at bottom left, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder6 {
  border-inline-end: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 50vh 25vh at top right, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder7 {
  border-inline-end: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 30vh 25vh at top right, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder8 {
  border-inline-end: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(circle 25vh at right, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder9 {
  border-inline-end: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 30vh 25vh at bottom right, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.grborder10 {
  border-inline-end: 0.1vh solid;
  border-block-start: 0.1vh solid;
  border-block-end: 0.1vh solid;
  border-image-source: radial-gradient(ellipse 50vh 25vh at bottom right, #b99c6a 30%, transparent 70%);
  border-image-slice: 1;
}

.circle {
  -webkit-animation: circle 80s linear infinite;
  animation: circle 80s linear infinite;
  border-radius: 50%;
  transition: 0.5s all;
}

.circle:hover {
  box-shadow: inset 0px 0px 4vh 2vh #b99c6a52, 0px 0px 1vh 0.5vh #b99c6a52;
  width: 420px;
  background-color: rgba(0, 64, 78, 0.283);
}

.champpic {
  filter: grayscale(100%);
  box-shadow: inset 0px 0px 4vh 2vh #b99c6a52;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.5s all;
}

.champpicPicked {
  filter: none;
  opacity: 1;
}

.picshadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: yellowborder 1s ease-in-out infinite;
  cursor: pointer;
}

.picshadowPicked {
  box-shadow: none;
  animation: champpicked 0.7s ease-in-out forwards;
}

@keyframes champpicked {
  0% {
    box-shadow: none;
  }


  50% {
    box-shadow: 0px 0px 1vh 0.5vh green;
  }

  100% {
    box-shadow: none;
  }
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes yellowborder {
  0% {
    box-shadow: inset 0px 0px 0.5vh 0.1vh #b99c6a;
  }

  50% {
    box-shadow: inset 0px 0px 0.5vh 0.7vh #b99c6a;

  }

  100% {
    box-shadow: inset 0px 0px 0.5vh 0.1vh #b99c6a;
  }
}

.fadeoutcircle {
  animation: fadeout 0.1s forwards ease-in;
}

.fadeOutTitle {
  /* animation: fadeouttitle 0.1s forwards ease-in; */
  animation-name: fadeouttitle, shrink;
  animation-duration: 0.1s, 1s;
  animation-fill-mode: forwards, forwards;
}

.titleShrink {
  animation: shrink 1s forwards ease-in;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
}

@keyframes fadeouttitle {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
}

@keyframes shrink {
  0% {}

  100% {
    height: 10%;
  }
}

.championselect {
  height: 66.666667%;
  transition: 2s ease-out;
}

.championselectFull {
  height: 90%;
}


.mainDiv {
  transition: 2s ease-out all;
  width: 83.3%;
  padding: 5vh;
}

.mainDivFull {
  width: 100%;
  padding: 5vh;
}

.champRows {
  gap: 0.75rem;
  transition: 2s ease-out all;
}

.champRowsFull {
  gap: 3rem;
}

.selector {
  /* visibility: visible;
  opacity: 1; */
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in all;

  border: 0.8vh solid #b99c6a;
  width: 75%;
  display: flex;
  flex-flow: column;
  padding-top: 5.5vh;
}

.selectorFull {
  visibility: visible;
  opacity: 1;
  width: 80%;
}

.selector img{
  opacity: 0;
  transition: 0.5s ease-in opacity;
}

.selectorFull img{
  opacity: 1;
}

.searchbar {
  position: absolute;
  border: 0.5vh solid #b99c6a;
  width: 90%;
  left: 0;
  right: 0;
  top: -5vh;
  margin: auto;
  height: 10vh;
  outline: none;
  background-color: rgb(16, 16, 16);
}

.inputfield {
  background-color: rgb(16, 16, 16);
  outline: none;
  padding-left: 2vh;
  font-size: 5vh;
  color: white;
}

.champlist {
  width: 95%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3%;
  border: 0.5vh solid #b99c6a;
  height: 70%;
  overflow-y: scroll;
  padding: 0.5vh;
}

.champ {
  border: 0.5vh solid #b99c6a;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.champrow {
  width: 90%;
  transition: 0.2s ease-in all;

}

.champrowselected {
  box-shadow: 0px 0px 1.5vh 1.5vh #b99c6a;
}

.champrowright {
  align-self: flex-end;
}

.openingPosDiv {
  height: 100%;
  width: 100%;
  border: 0.2vh solid #b99c6a;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.5s;
  border: 0.2vh solid #b99c6a;
  cursor: pointer;
}

.pos>img {
  transition: 0.3s all;
  border-radius: 30%;
}

.pos>img:hover {
  background-color: #b99c6a3b;
  box-shadow: 0px 0px 0.5vh 0.5vh #b99c6a3b;
}

.frontDivAnimForward {
  animation: fadeoutanimation 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeoutanimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none !important;
  }
}

.pickAnimation {
  animation: yellowborder2 1s infinite;
}

.posPicked {
  animation: champpicked 0.7s ease-in-out forwards;
}

@keyframes yellowborder2 {
  0% {
    box-shadow: 0px 0px 0.3vh 0.1vh #b99c6a;
  }

  50% {
    box-shadow: 0px 0px 0.3vh 0.7vh #b99c6a;

  }

  100% {
    box-shadow: 0px 0px 0.3vh 0.1vh #b99c6a;
  }
}

.fadeOutMeDiv {
  animation: fadeoutmediv2 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeoutmediv2 {
  0% {
    display: block;
  }
  50%{
    width: 0pt;
    opacity: 0;
  }
  100% {
    display: none !important;
    width: 0pt;
    opacity: 0;
    visibility: hidden;
  }
}

.laneSelectorSelected{
  border-radius: 30%;
  box-shadow: 0px 0px 0.2vh 0.2vh #b99c6a;
}

.noEnemyProbDiv{
  /* display: none;
  visibility: hidden;
  opacity: 0; */

  border: 0.5vh solid #b99c6a;
  display: flex;
  visibility: visible;
  opacity: 1;
  width: 75%;
  height: max-content;
}

.noEnemyProbDivFull{
  display: flex;
  visibility: visible;
  opacity: 1;
}

.infoDiv{
  border-top: 0.5vh solid #b99c6a;
  border-left: 0.5vh solid #b99c6a;
}